<div class="container my-4 border border-black border-1 border-opacity-10 rounded p-3  shadow bg-primary bg-opacity-10 " style="max-width: 80vh;">
  <h1 class="text-center mb-3">Edit Horse</h1>

  <form action="/horse/edit/<%= formData ? formData._id : '' %>" method="POST">
    <div class="row justify-content-center g-3 m-auto">
      
      <!-- Horse Name -->
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="Horsename" name="Horsename" placeholder="Horse Name"
                 value="<%= formData ? formData.Horsename : '' %>" autocomplete="off">
          <label for="Horsename">Horse Name</label>
        </div>
      </div>

      <!-- FEI ID -->
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="feiid" name="feiid" placeholder="FEI ID"
                 value="<%= formData ? formData.feiid : '' %>" autocomplete="off">
          <label for="feiid">FEI ID</label>
        </div>
      </div>

      <!-- Sex -->
      <div class="col-md-12">
        <div class="form-floating position-relative searchable-dropdown">
          <i class="bi bi-chevron-down position-absolute top-50 end-0 pe-3 translate-middle-y"></i>
          <input type="text" class="form-control shadow-none searchable-input"
                 placeholder="Search Sex"
                 autocomplete="off"
                 value="<%= formData ? formData.sex : '' %>">
          <label class="form-label">Sex</label>

          <!-- Hidden input for form submission -->
          <input type="hidden" class="searchable-hidden" name="sex"
                 value="<%= formData ? formData.sex : '' %>">

          <!-- Dropdown list -->
          <ul class="list-group position-absolute w-100 mt-1 shadow-sm d-none searchable-list" 
              style="max-height: 200px; overflow-y: auto; z-index: 1000;">

              <li class="list-group-item list-group-item-action searchable-item" >Mare</li>
              <li class="list-group-item list-group-item-action searchable-item" >Gelding</li>
              <li class="list-group-item list-group-item-action searchable-item" >Stallion</li>

          </ul>
        </div>
      </div>

      <!-- Birthdate -->
      <div class="col-md-12">
        <div class="form-floating">
          <input type="date" class="form-control shadow-none" id="Bdate" name="Bdate"
            value="<%= formData && formData.Bdate ? new Date(formData.Bdate).toISOString().split('T')[0] : '' %>">
          <label for="Bdate">Birthdate</label>
        </div>
      </div>

      <!-- Nationality (Searchable Dropdown with arrow) -->
      <div class="col-md-12">
        <div class="form-floating position-relative searchable-dropdown">
          <i class="bi bi-chevron-down position-absolute top-50 end-0 pe-3 translate-middle-y"></i>
          <input type="text" class="form-control shadow-none searchable-input"
                 placeholder="Search Nationality"
                 autocomplete="off"
                 value="<%= formData ? formData.Nationality : '' %>">
          <label class="form-label">Nationality</label>

          <!-- Hidden input for form submission -->
          <input type="hidden" class="searchable-hidden" name="Nationality"
                 value="<%= formData ? formData.Nationality : '' %>">

          <!-- Dropdown list -->
          <ul class="list-group position-absolute w-100 mt-1 shadow-sm d-none searchable-list" 
              style="max-height: 200px; overflow-y: auto; z-index: 1000;">
            <% countries.forEach(country => { %>
              <li class="list-group-item list-group-item-action searchable-item"><%= country %></li>
            <% }) %>
          </ul>
        </div>
      </div>



      <!-- Status -->
      <div class="col-md-12">
        <div class="form-floating position-relative searchable-dropdown">
          <i class="bi bi-chevron-down position-absolute top-50 end-0 pe-3 translate-middle-y"></i>
          <input type="text" class="form-control shadow-none searchable-input"
                 placeholder="Search Status"
                 autocomplete="off"
                 value="<%= formData ? (formData.HorseStatus === 'active' ? 'Active':'Inactive'): '' %>">
          <label class="form-label">Status</label>
          <!-- Hidden input for form submission -->
          <input type="hidden" class="searchable-hidden" name="Status"
                 value="<%= formData ? formData.HorseStatus : '' %>">

          <!-- Dropdown list -->
          <ul class="list-group position-absolute w-100 mt-1 shadow-sm d-none searchable-list" 
              style="max-height: 200px; overflow-y: auto; z-index: 1000;">

              <li class="list-group-item list-group-item-action searchable-item" val="active" >Active</li>
              <li class="list-group-item list-group-item-action searchable-item" val="inactive">Inactive</li>
          </ul>
        </div>
      </div>



      
      <!-- Box Number -->
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="BoxNr" name="BoxNr" placeholder="Box Number"
                 value="<%                 
                 
                 let boxValue = '';
                 if (Array.isArray(formData.BoxNr) && formData.BoxNr.length > 0){
                    boxValue = formData.BoxNr[0].boxNumber ? formData.BoxNr[0].boxNumber : 'No Box Nr'
                  } else {
                    boxValue =   formData.box ? formData.box : 'No Box Nr';

                 }
                 %><%= boxValue %>"> 
          <label for="BoxNr">Box Number</label>
        </div>
      </div>
      <!-- Head Number -->
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="HeadNr" name="HeadNr" placeholder="Head Number"
                 value="<% 
                 
                 let headValue = '';
                 if (Array.isArray(formData.HeadNr) && formData.HeadNr.length > 0){
                    headValue = formData.HeadNr[0].headNumber ? formData.HeadNr[0].headNumber : 'No Head Nr'
                  } else {
                    headValue =   formData.head ? formData.head : 'No Head Nr';

                 }
                 %><%= headValue %>">
          <label for="HeadNr">Head Number</label>
        </div>
      </div>

      <!-- Responsible Person Name -->
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="ResponsiblePersonName" name="ResponsiblePersonName" placeholder="Responsible Person Name"
                 value="<%= formData ? formData.ResponsiblePersonName : '' %>">
          <label for="ResponsiblePersonName">Responsible Person Name</label>
        </div>
      </div>

      <!-- Responsible Person Contact -->
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" class="form-control shadow-none" id="ResponsiblePersonContact" name="ResponsiblePersonContact" placeholder="Responsible Person Contact"
                 value="<%= formData ? formData.ResponsiblePersonContact : '' %>">
          <label for="ResponsiblePersonContact">Responsible Person Contact</label>
        </div>
      </div>


      <div class="col-md-12 mt-3">
        <button type="submit" class="btn btn-primary w-100">Edit Horse</button>
      </div>

    </div>
  </form>
</div>
