<div class="container my-4 border border-black border-1 border-opacity-25 rounded p-2" >
  <ul class="list-group">

    <li class="list-group-item border-0">
        <h3 class="text-center"><%= title %></h3>
    </li>

  </ul>

  <div class="d-flex justify-content-start align-items-center w-100 shadow-sm p-1 mb-4 bg-secondary bg-opacity-25 rounded border border-1 border-black border-opacity-10 flex-grow-1">
    <% if (pointDetailsLevel === 2) { %>

        <a href="/result/detailed/<%= resultGroup._id %>/total" class="btn btn-outline-primary w-100">Upper result level <i class="bi bi-arrow-up"></i></a>
     <% } else if (pointDetailsLevel === 1) { %>
        <% const slug = param.includes(1) ?  'R1': 'R2' %>
              <a href="/result/detailed/<%= resultGroup._id %>/<%= slug %>" class="btn btn-outline-primary w-100">Upper result level <i class="bi bi-arrow-up"></i></a>
    <% } else { %>
        <a href="/result" class="btn btn-outline-primary w-100">Get back to results <i class="bi bi-arrow-left"></i></a>
    <% } %>

  </div>

<table class="table table-striped table-hover table-bordered w-100 m-0" >
        <thead class="table-primary">
            <th scope="col">Name</th>
            <th scope="col">Horse</th>
            <th scope="col">Lunger</th>
            <th scope="col">Point details</th>
            <th scope="col">Total</th>
            <th scope="col">Rank</th>

        </thead>
        <tbody class="align-middle" >
            <% let i =0; %>
            <% results.forEach(result => { %>
                <% i++ %>
      <tr>

        <td>
          <% if (result.entry.teamName && result.entry.teamName !== '') { %>
            <%= result.entry.teamName %>

          <% } else if (result.entry.vaulter && result.entry.vaulter.Name) { %>
            <%= result.entry.vaulter.Name %>
          <% } else if (Array.isArray(result.entry.vaulter)) { %>
            <%= result.entry.vaulter.map(v => v.Name).join(', ') %>
          <% } else { %>
            N/A
          <% } %>
        </td>
        <td> <%= result.entry.lunger ? result.entry.horse.Horsename : 'N/A' %></td>
        <td> <%= result.entry.lunger ? result.entry.lunger.Name : 'N/A' %></td>
        <td><% if (pointDetailsLevel === 1) { %>
            <table class="table table-hover w-100 m-0">
        <tbody>

        <tr>
            <% let j = 0 %>
            <% result.scoresheets.sort((a, b) => a.table.localeCompare(b.table)).forEach(element => { %>
                <% j++ %>
               <%  if(j == 5){ %>
                    </tr><tr>
                <% } %>
                <td class="text-center border border-1 border-end-0 me-0 pe-0"><%= element.table %>:</td>
                <td class="text-center totalScore border-1 border-start-0 ms-0 ps-0"><%= element.scoreId.totalScoreBE %></td>

            <% }) %>
            </tr>
            </tbody>
            </table>

        <% } else if(pointDetailsLevel === 2){ %>
                 <table class="table table-hover w-100 m-0">
        <tbody>

        <tr>
                <% if (result.firstTotalScore) { %>
                <td class="text-center border border-1 border-end-0 me-0 pe-0"> <a class=" link-primary link-underline-opacity-0" href="/result/detailed/<%= resultGroup._id %>/R1F">First:</a></td>
                <td class="text-center totalScore border-1 border-start-0 ms-0 ps-0"><%= result.firstTotalScore %></td>
                <% } %>
                <% if (result.secondTotalScore) { %>
                     <td class="text-center border border-1 border-end-0 me-0 pe-0"> <a class=" link-primary link-underline-opacity-0" href="/result/detailed/<%= resultGroup._id %>/R1S">Second:</a> </td>
                <td class="text-center totalScore border-1 border-start-0 ms-0 ps-0"><%= result.secondTotalScore %></td>
                <% } %>

            </tr>
            </tbody>
            </table>
            <% } else if(pointDetailsLevel === 3){ %>
                 <table class="table table-hover w-100 m-0">
        <tbody>

        <tr>
                <% if (result.round1TotalScore) { %>
                <td class="text-center border border-1 border-end-0 me-0 pe-0"> <a class=" link-primary link-underline-opacity-0" href="/result/detailed/<%= resultGroup._id %>/R1">Round 1:</a></td>
                <td class="text-center totalScore border-1 border-start-0 ms-0 ps-0"><%= result.round1TotalScore %></td>
                <% } %>
                <% if (result.round2TotalScore) { %>
                     <td class="text-center border border-1 border-end-0 me-0 pe-0"> <a class=" link-primary link-underline-opacity-0" href="/result/detailed/<%= resultGroup._id %>/R2">Round 2:</a></td>
                <td class="text-center totalScore border-1 border-start-0 ms-0 ps-0"><%= result.round2TotalScore %></td>
                <% } %>

            </tr>
            </tbody>
            </table>
        <% } %>

    </td>
        <td class="totalScore"><%= result.TotalScore %></td>
        <td><%= i %></td>

      </tr>
            <% }); %>
        </tbody>
    </table>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const cell = document.querySelectorAll('.totalScore');
        cell.forEach(c => {
            c.innerHTML = excelRound(Number(c.innerHTML),3);
    })
    });
</script>
